<section class="signup-form">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email"
        formControlName="email"
        name="email">
      <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is not empty</mat-error>
      <mat-error *ngIf="loginForm.controls.email.errors?.email">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password"
        name="password">
      <mat-error>Should be at least 6 characters long</mat-error>
      <mat-hint>Should be at least 6 characters long</mat-hint>
      <mat-hint align="end">{{ loginForm.controls.password.value?.length }}/ 6</mat-hint>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Login</button>
  </form>
</section>
